*{
    padding: 0px;
    margin: 0px;
}
.Arena {
    width: 90vw;
    height: 40vw;
    background-color: black;
    border: 10px solid gray;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.selector{
    width: 33%;
    height: 20%;
    border: 5px solid grey;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: whitesmoke;
    opacity: 80%;
    position: relative;
}
    h3{
        text-align: center;
        margin: 5px auto;
    }
    .arenaBtn {
        width: 32%;
        margin: 1px;
    }
    select{
        vertical-align: top;
        width: 40%;
        margin: 20px;
    }
.playground1{
    width: 15%;
    height: 45%;
    vertical-align: bottom;
    float: left;
    position: relative;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
}

.playground2{
    width: 15%;
    height: 45%;
    vertical-align: bottom;
    float: right;
    position: relative;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
}
